<footer>
    <div class="logo-container">
      <div class="logo-footer">
        <P>Ramdomly</P>
      </div>
      <div class="icons-footer">
        <img class="icon-foot" src="https://img.icons8.com/dotty/80/000000/twitter.png"/>
       <img class="icon-foot" src="https://img.icons8.com/carbon-copy/100/000000/instagram-new--v2.png"/>
        <img class="icon-foot" src="https://img.icons8.com/carbon-copy/100/000000/youtube-play--v2.png"/>
      </div>

    </div>
    <div class="footer-hr">
      <hr>
    </div>
    {# <div class="textend-footer">
        <p> by Cynox</p>
        <p> powered by Google and Apple :) </p>
      </div> #}
</footer>