<footer>
	<div class="logo-container">
		<div >
			<a href="{{ path('home') }}" class="menu-bar logo">Ramdomly</a>
		</div>
		<div class="icons-footer">
			<img class="icon-foot" src="https://img.icons8.com/dotty/80/000000/twitter.png"/>
			<img class="icon-foot" src="https://img.icons8.com/carbon-copy/100/000000/instagram-new--v2.png"/>
			<img class="icon-foot" src="https://img.icons8.com/carbon-copy/100/000000/youtube-play--v2.png"/>
		</div>
		

	</div>
	<div class="footer-hr">
		<hr>
	</div>
	<div class="textend-footer">
		<p>Cynox Group</p>
		<p>
			powered by Google and Apple :)
		</p>
	</div>
</footer>
