<header>
    <nav class="nav-bar">
      <div class="logo-container">
        <a href="{{ path('home') }}" class="menu-bar logo">Ramdomly</a>
      </div>
      <div class="navbar-menu">
        <a class="navbar-link" href="{{ path('home') }}" 
        target="_blank">Home</a>
        <a class="navbar-link" href="{{ path('login') }} ">Sign in</a>
        <a class="navbar-link bnt-singup" href="{{ path('register') }}">Sing up</a>
      </div>
    </nav>
</header>