{% extends 'base.html.twig' %}


{% block title %}Radomly
{% endblock %}


{% block stylesheets %}

	{{ encore_entry_link_tags('home') }}

{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html lang="en">
		
		<body>


			<main>
				<div class="presentation-container">
					<div class="img-presentation"></div>

					<span class="text-presentation">
						<h1>Online university for developpers</h1>
						<br>
						<p>Ramdomly is a virtual platform where you can learn any programming language,
							<br>
							where we offer differents services for your learning</p>
					</span>

				</div>
				<section>
					<div class="split-section">
						<p class="paragrapheSplit-section">
							Take advantage of these welcome packs.
						</p>
						<p class="packs">HTML and CSS intregation </p>
						<p class="packs">Introduction to JavaScript</p>
						<a href="#" class="btnSplit-section">Click Here</a>
					</div>

				</section>
				<section class="section-II">
					<span class="text-SectionII">
						<h1>Coaching Support.</h1>
						<p>You can choose from our list of professionals for each language.</p>
					</span>
					<div class="img-sectionII"></div>
					{# <img class="img-sectionII" src="{{ asset('build/image/casual.98.png') }}" alt="acme logo">  #}
				</section>

				<section class="section-III">
					
					<div class="img-sectionIII"></div>
					<span class="text-SectionIII">
						<h1>Share your with our cummunity.</h1>
						<p>You will able to share your knowledge with other users.
							<br>
							Lorem, ipsum dolor.</p>
					</span>

				</section>

				<section class="section-IV">
					<span class="text-SectionIV">
						<h1>Lorem ipsum dolor sit amet.</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							<br>
							Eligendi magni id quibusdam.</p>
					</span>
					<div class="img-sectionIV"></div>
				</section>

			</main>


		</body>
	</html>

{% endblock %}
