*{
    margin: 0px;
    padding: 0px;
}


nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: rgb(132, 219, 248);
    

}


.list-nav{
    list-style: none;
 
}
.list-nav li{
    float: left;
    margin: 20px;
}
.img-presentation{
    background-image: url("../images/casual-life-3d-young-man-in-orange-headphones-sitting-at-green-table-and-using-computer.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
    margin: 30px;

}
.presentation-container{
    display: flex;
    justify-content: space-evenly;
}