{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('home') }} 
    

{% endblock %}


{% block body %}
    <html lang="en">
        
        <body>
        
            <main>
                <div class="page">
                    <div class="container-register">
                        <div class="left-register">
                            <div class="login-register">Sing up</div>
                            <div class="eula-register">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
                        </div>
                        <div class="right-register">
                            
                            <div class="form-register">
                                <label for="email">Email</label>
                                <input type="email" id="email">
                                <label for="nicknme">Nickname</label>
                                <input type="nickname" id="nickname">
                                <label for="password">Password</label>
                                <input type="password" id="password">
                                <input type="submit" id="submit-register" value="Submit">
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        
        </body>
    </html>
   
{% endblock %}