{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('home') }} 
    

{% endblock %}

{% block body %}
    
    <main class="main-user">
        <div class="container-aside"></div>
        <article>
            <section>
                <div class="container-I"></div>
                <div class="container-II"></div>

            </section>
            <section>
                <div class="container-III">
                    <div class="containerIII-header"></div>
                </div>
            </section>
            
        </article>

    </main>


{% endblock %}